
@{
    ViewBag.Title = "Account";
}

<h2>Account</h2>

<form>
    Username:
    <br>
    <input type="text" name="username"><br>
    Password:
    <br>
    <input type="text" name="password">
    <br>
    <input type="submit" value="Register">
</form>