@{
ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>Steam</h1>
        <p class="lead">Welcome to the steam store if you don't have an account yet. You can create one by clicking the register button.</p>
    </div>
